{% extends "bootstrap/base.html" %}

{% block title %}I-COM{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role-="navigation" style="background-color: #2A1C43;">
	<div class="container-fluid">
		<div class= "navbar-header">
			<button type="button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
			 	<span class="sr-only">Toggle navigation</span>
			 	<span class="icon-bar"></span>
			 	<span class="icon-bar"></span>
			 	<span class="icon-bar"></span>
			 </button>
			 <a class="navbar-brand" href="/">I-COM</a>
		</div>
		<ul class = "nav navbar-nav navbar-right">
			<li><a href="/About">About</a></li>
		<li role="presentation" class="dropdown">
    				<a class="dropdown-toggle" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
      					Documentation <span class="caret"></span>
    				</a>
    	<ul class="dropdown-menu">
		<li><a href="/CatBoost">CatBoost</a></li>
		<li><a href="/XGBoost">XGBoost</a></li>
		<li><a href="/dashboard">Model 3</a></li>
		<li><a href="/Flask">Flask</a></li>
		<li><a href="/Bokeh">Bokeh</a></li>
		</ul>
	</div>
</div>

{% endblock %}	

{% block content %}
<div class="container-fluid">	
	<div class="row">
  		<div class="col-sm-2" style="background-color: #2C0C4B;">  		  
  			<div class="text-center">
				<p class="ml-5 ml-lg-0"></p>
  				<div class="thumbnail">
  				<img src="/static/Mindshare Brandmark Purple.png" >
  				</div>
				<p class="ml-5 ml-lg-0"></p>
  				<div class="btn-group-vertical" role="group" aria-label="..." style="width: 100%">
  					<a type="button" class="btn btn-default" href = "/Ingestion">Data Ingestion</a>
  					<a type="button" class="btn btn-default" href = "/File-Metadata">File Characteristics</a>
  					<a type="button" class="btn btn-default" href = "/EDA">EDA - DQ - QA</a>
  					<a type="button" class="btn btn-default" href = "/Model-Selection">Model Selection</a>
  					<a type="button" class="btn btn-default" href = "/Scenarios">Scenario Planning</a>
  				</div>
  				<p class="ml-5 ml-lg-0"></p>
  			</div>
  		</div>
  		<div class="col-lg-8">
  		{% block page_content %}{% endblock %}
  		</div>
	</div>
	
</div>
{% endblock %}