{% extends "base.html" %}

{% block title %}I-COM{% endblock %}

{% block page_content %}
<div>
Welcome to the Data Quality Assurance Module!

Here you will find:
-Trended record counts to help identify any days where data collection may have failed
-An assessment of the Categorical Variables in the data, using Chi-Square Test of Independence
-An assessment of the Numeric Variables in the data, using Correlation Coefficients & an interactive Scatter Plot
-A table of descriptive statistics to help further contextual the Numeric Data
</div>
{{ script|safe }}
{% endblock %}
